public-f net.minecraft.world.level.block.state.BlockBehaviour hasCollision
#public-f net.minecraft.world.level.block.state.BlockBehaviour isRandomlyTicking
public-f net.minecraft.world.level.block.state.BlockBehaviour soundType
public-f net.minecraft.world.level.block.state.BlockBehaviour friction
public-f net.minecraft.world.level.block.state.BlockBehaviour speedFactor
public-f net.minecraft.world.level.block.state.BlockBehaviour jumpFactor
public-f net.minecraft.world.level.block.state.BlockBehaviour dynamicShape
public-f net.minecraft.world.level.block.state.BlockBehaviour requiredFeatures
public-f net.minecraft.world.level.block.state.BlockBehaviour properties

public net.minecraft.world.level.block.state.BlockBehaviour$Properties mapColor
public net.minecraft.world.level.block.state.BlockBehaviour$Properties hasCollision
public net.minecraft.world.level.block.state.BlockBehaviour$Properties soundType
public net.minecraft.world.level.block.state.BlockBehaviour$Properties lightEmission
public net.minecraft.world.level.block.state.BlockBehaviour$Properties friction
public net.minecraft.world.level.block.state.BlockBehaviour$Properties speedFactor
public net.minecraft.world.level.block.state.BlockBehaviour$Properties jumpFactor
public net.minecraft.world.level.block.state.BlockBehaviour$Properties dynamicShape
public net.minecraft.world.level.block.state.BlockBehaviour$Properties requiredFeatures

#public-f net.minecraft.world.inventory.ItemCombinerMenu player
#public-f net.minecraft.world.inventory.ItemCombinerMenu access
public-f net.minecraft.world.inventory.ItemCombinerMenu resultSlots
public-f net.minecraft.world.item.crafting.RecipeManager byType
public-f net.minecraft.world.item.crafting.RecipeManager byName


