public-f net.minecraft.world.level.block.state.BlockBehaviour hasCollision
#public-f net.minecraft.world.level.block.state.BlockBehaviour isRandomlyTicking
public-f net.minecraft.world.level.block.state.BlockBehaviour soundType
public-f net.minecraft.world.level.block.state.BlockBehaviour friction
public-f net.minecraft.world.level.block.state.BlockBehaviour speedFactor
public-f net.minecraft.world.level.block.state.BlockBehaviour jumpFactor
public-f net.minecraft.world.level.block.state.BlockBehaviour dynamicShape
public-f net.minecraft.world.level.block.state.BlockBehaviour requiredFeatures
public-f net.minecraft.world.level.block.state.BlockBehaviour properties

public net.minecraft.world.level.block.state.BlockBehaviour$Properties mapColor
public net.minecraft.world.level.block.state.BlockBehaviour$Properties hasCollision
public net.minecraft.world.level.block.state.BlockBehaviour$Properties soundType
public net.minecraft.world.level.block.state.BlockBehaviour$Properties lightEmission
#public net.minecraft.world.level.block.state.BlockBehaviour$Properties isRandomlyTicking
public net.minecraft.world.level.block.state.BlockBehaviour$Properties friction
public net.minecraft.world.level.block.state.BlockBehaviour$Properties speedFactor
public net.minecraft.world.level.block.state.BlockBehaviour$Properties jumpFactor
#public net.minecraft.world.level.block.state.BlockBehaviour$Properties canOcclude
#public net.minecraft.world.level.block.state.BlockBehaviour$Properties isAir
#public net.minecraft.world.level.block.state.BlockBehaviour$Properties ignitedByLava
#public net.minecraft.world.level.block.state.BlockBehaviour$Properties liquid
#public net.minecraft.world.level.block.state.BlockBehaviour$Properties forceSolidOff
#public net.minecraft.world.level.block.state.BlockBehaviour$Properties forceSolidOn
#public net.minecraft.world.level.block.state.BlockBehaviour$Properties pushReaction
#public net.minecraft.world.level.block.state.BlockBehaviour$Properties spawnParticlesOnBreak
#public net.minecraft.world.level.block.state.BlockBehaviour$Properties instrument
#public net.minecraft.world.level.block.state.BlockBehaviour$Properties replaceable
#public net.minecraft.world.level.block.state.BlockBehaviour$Properties lootTableSupplier
#public net.minecraft.world.level.block.state.BlockBehaviour$Properties isValidSpawn
#public net.minecraft.world.level.block.state.BlockBehaviour$Properties isRedstoneConductor
#public net.minecraft.world.level.block.state.BlockBehaviour$Properties isSuffocating
#public net.minecraft.world.level.block.state.BlockBehaviour$Properties isViewBlocking
#public net.minecraft.world.level.block.state.BlockBehaviour$Properties hasPostProcess
#public net.minecraft.world.level.block.state.BlockBehaviour$Properties emissiveRendering
public net.minecraft.world.level.block.state.BlockBehaviour$Properties dynamicShape
public net.minecraft.world.level.block.state.BlockBehaviour$Properties requiredFeatures
#public net.minecraft.world.level.block.state.BlockBehaviour$Properties offsetFunction
